@using XperiCad.DigitalDrawingStore.Web.API.Controllers;

@{
    var administrationController = new AdministrationController();
    var documentResourceProperties = administrationController.documentResourceProperties;
    var feedbackEntities = await administrationController.GetFeedbackProperties();
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<script src="~/js/settings.js"></script>
<div id="contentContainer" class="content-container">
    <p class="category-title">@ViewData["Title"]</p>
    @{

    }
</div>